:root{
    --WHITE-TEXT-COLOR: #FFF;
    --TEXT-COLOR: RGBA(0,0,0,.54);
    --BUTTON-COLOR: RGB(98, 0, 238);
}
/* CARDS */
.card {
    background: var(--WHITE-TEXT-COLOR);
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    font-size: 0.875rem;
    display: flex;
    position: relative;
}
.vertical-card{
    max-width: 17rem;
    flex-direction: column;
}
.horizontal-card{
    max-width: 40rem;
    flex-direction: row;
}
.card-image{
    max-width: 20rem;
}
.card-image > img{
    height: 100%;
    border-radius: 4px 4px 0 0;
}
.card-content-header{
    padding: 1rem;
}
.card-content-header > h2{
    line-height: 2rem;
}
.card-content-header > h4{
    color: var(--TEXT-COLOR);
}
.card-content-description{
    padding: 0 1rem 0.5rem;
    color: var(--TEXT-COLOR);
}
.card-footer{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-footer button{
    padding: 0.5rem;
    text-transform: uppercase;
}
.card-footer-btn > button{
    color:var(--BUTTON-COLOR);
    font-weight: 600;
}
.card-footer-icons {
    /* margin-left: auto; */
}
.card-footer-icons > button{
    color: var(--TEXT-COLOR);
    font-size: 1rem;
}
/* Basic w/ Text over Media */
.card-image{
    position: relative;
}
.overlay-card{
    color: var(--WHITE-TEXT-COLOR);
    position: absolute;
    bottom: 0;
}
.overlay-card > h4 {
    color: var(--WHITE-TEXT-COLOR);
}
.text-over-media-description{
    padding: 1rem 1rem 0;
}
/* card with text only */
.text-only-card{
    max-width: 17rem;
}