.alert{
    position:relative;
    max-width:600px;
    width: calc(100% - 0.5rem);
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.close-btn {
    position: absolute;
    right: 11px;
    top: 17px;
    opacity: 0.3;
}
.primary-alert{
    background-color: #88C0F4;
    border-left: 5px solid #6366F1;
    color: #6366F1;
}
.success-alert{
    background-color: #a8f0c6;
    border-left: 5px solid #20aa20;
    color: #20aa20;
}
.danger-alert{
    background-color: #f7a7a3;
    border-left: 5px solid #EA1C0D;
    color: #EA1C0D;
}
.warning-alert{
    background-color: #ffd48a;
    border-left: 5px solid #8a5700;
    color: #8a5700;
}
.primary-outline-alert{
    border: 2px solid #6366F1;
    color: #6366F1;
}
.success-outline-alert{
    border: 2px solid #20aa20;
    color: #20aa20;
}
.danger-outline-alert{
    border: 2px solid #EA1C0D;
    color: #EA1C0D;
}
.warning-outline-alert{
    border: 2px solid #ffd48a;
    color: #ffd48a;
}
